@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.Ring {
    border: 0;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    animation-name: shake;
    animation-duration: 1s;
    
    animation-timing-function: ease-in;
    cursor: pointer;
  }
  .Ring:hover {
    animation-name: shakeAnim;
  }
  
  @keyframes shakeAnim {
    0% {left: 0}
    1% {left: -13px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }
  
  @keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }